# One-to-Many and Many-to-Many Joins

## Introduction

Previously, you've learned about the typical case where one joins on a primary or foreign key. In this section, you'll explore other types of joins using One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:

* Explain one-to-many and many-to-many joins as well as implications for the size of query results

## One-to-Many and Many-to-Many relationships

So far, you've seen a couple of different kinds of join statements: left joins and inner joins. Both of these refer to the way in which you would like to define your joins based on the tables and their shared information. Another perspective on this is the number of matches between the tables based on your defined links with the keywords *on* or *using*.
  
You have also seen the typical case where one joins on a primary or foreign key. For example, when you join on customerID or employeeID, this value should be unique to that table. As such, your joins have been very similar to using a dictionary to find additional information associated with that record. In cases where there are multiple entries, in either table, for the field you are joining on, you will similarly be given multiple rows in your resulting view, one for each of these entries.  
  
For example, let's say you have another table 'restaurants' that has many columns including *name*, *city*, and *rating*. If you were to join this table with the offices table using the shared city column, you might get some unexpected behavior. That is, in the office table, there is only one office per city. However, because there is apt to be more than one restaurant for each of these cities in your second table, you will get unique combinations of Offices and Restaurants from your join. If there are 513 restaurants for Boston in your restaurant table and 1 office for Boston, your joined table will have each of these 513 rows, one for each restaurant along with the one office.

If you had 2 offices for Boston, and 513 restaurants, your join would have 1026 rows for Boston; 513 for each restaurant along with the first office and 513 for each restaurant with the second office. Three offices in Boston would similarly produce 1539 rows; one for each unique combination of restaurants and offices. This is where you should be particularly careful of many to many joins as the resulting set size can explode drastically potentially consuming vast amounts of memory and other resources.  

<img src='images/Database-Schema.png' width=550>

## Connecting to the Database

In [5]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Checking Sizes of Resulting Joins...

### The original tables...

In [6]:
cur.execute('select * from offices;')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 8

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
2,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
3,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
4,5,Tokyo,+81 33 224 5000,4-1 Kioicho,,Chiyoda-Ku,Japan,102-8578,Japan

In [7]:
cur.execute('select * from employees;')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 23

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)

### A One-to-One Join...

In [8]:
cur.execute('select * from offices join employees using(officeCode);')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 23

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,,President
1,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1002,VP Sales
2,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1002,VP Marketing
3,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1056,Sales Manager (NA)
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1143,Sales Rep

### A One-to-Many Join
Here you join products with product lines. There are only a few product lines that will be matched to each product. As a result, the product line descriptions will be repeated in your resulting view.

In [9]:
cur.execute('select * from products;')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 110

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

In [10]:
cur.execute('select * from productlines;')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 7

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,,
1,Motorcycles,Our motorcycles are state of the art replicas ...,,
2,Planes,"Unique, diecast airplane and helicopter replic...",,
3,Ships,The perfect holiday or anniversary gift for ex...,,
4,Trains,Model trains are a rewarding hobby for enthusi...,,

In [11]:
cur.execute("""select * from products
                      join productlines
                      using(productLine);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 110

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,textDescription,htmlDescription,image
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,Our motorcycles are state of the art replicas ...,,
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30,Attention car enthusiasts: Make your wildest c...,,
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94,Our motorcycles are state of the art replicas ...,,
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66,Our motorcycles are state of the art replicas ...,,
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00,Attention car enthusiasts: Make your wildest c...,,

### A Many-to-Many Join

A many-to-many join is as it sounds; there are multiple entries for the shared field in both tables. While somewhat contrived, we can see this through the example below, joining the offices and customers table based on the state field. For example, there are 2 offices in MA and 9 customers in MA. Joining the two tables by state will result in 18 rows associated with MA; one for each customer combined with the first office, and then another for each customer combined with the second option. This is not a particularly useful join without applying some additional aggregations or pivots, but can also demonstrate how a poorly written query can go wrong. For example, if there are a large number of occurences in both tables, such as tens of thousands, then a many-to-many join could result in billions of resulting rows. Such ill conceived joins can cause severe load can be put on the database causing slow execution time, and potentially even tying up database resources for other analysts who may be using the system.

In [13]:
cur.execute("""select * from offices
                        join customers
                        using(state);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df

Number of results: 254

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,customerNumber,...,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,postalCode,country,salesRepEmployeeNumber,creditLimit
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,124,...,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,97562,USA,1165,210500.00
1,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,129,...,Murphy,Julie,6505555787,5557 North Pendale Street,,San Francisco,94217,USA,1165,64600.00
2,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,161,...,Hashimoto,Juri,6505556809,9408 Furth Circle,,Burlingame,94217,USA,1165,84600.00
3,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,205,...,Young,Julie,6265557265,78934 Hillside Dr.,,Pasadena,90003,USA,1166,90700.00
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,219,...,Young,Mary,3105552373,4097 Douglas Av.,,Glendale,92561,USA,1166,11000.00
5,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,239,...,Thompson,Valarie,7605558146,361 Furth Circle,,San Diego,91217,USA,1166,105000.00
6,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,321,...,Brown,Julie,6505551386,7734 Strong St.,,San Francisco,94217,USA,1165,105000.00
7,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,347,...,Chandler,Brian,2155554369,6047 Douglas Av.,,Los Angeles,91003,USA,1166,57700.00
8,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,450,...,Frick,Sue,4085553659,3086 Ingle Ln.,,San Jose,94217,USA,1165,77600.00
9,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,475,...,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,94019,USA,1166,55400.00
10,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,487,...,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,94217,USA,1165,60300.00
11,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,173,...,Tseng,Jerry,6175555555,4658 Baden Av.,,Cambridge,51247,USA,1188,43400.00
12,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,198,...,Taylor,Leslie,6175558428,16780 Pompton St.,,Brickhaven,58339,USA,1216,23000.00
13,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,204,...,Barajas,Miguel,6175557555,7635 Spinnaker Dr.,,Brickhaven,58339,USA,1188,68700.00
14,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,286,...,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,,Cambridge,51247,USA,1216,123700.00
15,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,320,...,Huang,Wing,5085559555,4575 Hillside Dr.,,New Bedford,50553,USA,1188,94500.00
16,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,362,...,Yoshido,Juri,6175559555,8616 Spinnaker Dr.,,Boston,51003,USA,1216,41900.00
17,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,379,...,Nelson,Allen,6175558555,7825 Douglas Av.,,Brickhaven,58339,USA,1188,70700.00
18,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,462,...,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,50553,USA,1216,85800.00
19,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,495,...,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,51003,USA,1188,85100.00
20,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,131,...,Lee,Kwai,2125557818,897 Long Airport Avenue,,NYC,10022,USA,1323,114900.00
21,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,151,...,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,10022,USA,1286,138500.00
22,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,181,...,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,10022,USA,1286,76400.00
23,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,319,...,Frick,Steve,9145554562,3758 North Pendale Street,,White Plains,24067,USA,1323,102700.00
24,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,424,...,Hernandez,Maria,2125558493,5905 Pompton St.,Suite 750,NYC,10022,USA,1286,67500.00
25,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,456,...,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,10022,USA,1286,39800.00
26,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA,103,...,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,44000,France,1370,21000.00
27,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA,119,...,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,44000,France,1370,118200.00
28,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA,121,...,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,4110,Norway,1504,81700.00
29,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA,125,...,Piestrzeniewicz,Zbyszek,(26) 642-7555,ul. Filtrowa 68,,Warszawa,01-012,Poland,,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,381,...,Cartrain,Pascale,(071) 23 67 2555,"Boulevard Tirou, 255",,Charleroi,B-6000,Belgium,1401,23500.00
225,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,382,...,Pipps,Georg,6562-9555,Geislweg 14,,Salzburg,5020,Austria,1401,71700.00
226,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,385,...,Cruz,Arnold,+63 2 555 3587,15 McCallum Street,NatWest Center #13-03,Makati City,1227 MM,Philippines,1621,81500.00
227,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,386,...,Moroni,Maurizio,0522-556555,Strada Provinciale 124,,Reggio Emilia,42100,Italy,1401,121400.00
228,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,406,...,Perrier,Dominique,(1) 47.55.6555,"25, rue Lauriston",,Paris,75016,France,1337,95000.00
229,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,409,...,Müller,Rita,0711-555361,Adenauerallee 900,,Stuttgart,70563,Germany,,0.00
230,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,412,...,McRoy,Sarah,04 499 9555,101 Lambton Quay,Level 11,Wellington,,New Zealand,1612,86800.00
231,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,415,...,Donnermeyer,Michael,+49 89 61 08 9555,Hansastr. 15,,Munich,80686,Germany,1504,77000.00
232,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,443,...,Feuer,Alexander,0342-555176,Heerstr. 22,,Leipzig,04179,Germany,,0.00
233,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,448,...,Larsson,Martha,0695-34 6555,Åkergatan 24,,Bräcke,S-844 67,Sweden,1504,116400.00
234,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,452,...,Mendel,Roland,7675-3555,Kirchgasse 6,,Graz,8010,Austria,1401,45300.00
235,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,458,...,Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,28023,Spain,1702,104600.00
236,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,459,...,Ottlieb,Sven,0241-039123,Walserweg 21,,Aachen,52066,Germany,,0.00
237,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,465,...,Anton,Carmen,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",,Madrid,28023,Spain,,0.00
238,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,473,...,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,Italy,1401,34800.00
239,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,477,...,Moos,Hanna,0621-08555,Forsterstr. 57,,Mannheim,68306,Germany,,0.00
240,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,480,...,Semenov,Alexander,+7 812 293 0521,2 Pobedy Square,,Saint Petersburg,196143,Russia,,0.00
241,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,481,...,"Altagar,G M",Raanan,+ 972 9 959 8555,3 Hagalim Blv.,,Herzlia,47625,Israel,,0.00
242,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,484,...,Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,41101,Spain,1702,65700.00
243,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,489,...,Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,WA1 1DP,UK,1501,43300.00
244,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA,496,...,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,New Zealand,1612,110000.00
245,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,173,...,Tseng,Jerry,6175555555,4658 Baden Av.,,Cambridge,51247,USA,1188,43400.00
246,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,198,...,Taylor,Leslie,6175558428,16780 Pompton St.,,Brickhaven,58339,USA,1216,23000.00
247,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,204,...,Barajas,Miguel,6175557555,7635 Spinnaker Dr.,,Brickhaven,58339,USA,1188,68700.00
248,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,286,...,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,,Cambridge,51247,USA,1216,123700.00
249,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,320,...,Huang,Wing,5085559555,4575 Hillside Dr.,,New Bedford,50553,USA,1188,94500.00
250,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,362,...,Yoshido,Juri,6175559555,8616 Spinnaker Dr.,,Boston,51003,USA,1216,41900.00
251,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,379,...,Nelson,Allen,6175558555,7825 Douglas Av.,,Brickhaven,58339,USA,1188,70700.00
252,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,462,...,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,50553,USA,1216,85800.00
253,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA,495,...,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,51003,USA,1188,85100.00

In [15]:
len(df[df.state=='MA'])

18

## Summary

In this section, you expanded your join knowledge to One-to-Many and Many-to-many joins!